.patches__items > div {
    position: relative;
}
.patches__items > div::before, .patches__items > div::after {
    content: '';
    position: absolute;
}
.patches__items .patches__items--image::before{
    top: -48%;
    left: -8%;
}
.patches__items .patches__items--image::after{
    top: -14%;
    right: -10%;
}

.patches__items--one .patches__items--image::before {
    content: url(../images/patches/do_good.png);
    top: -100%;
    left: 6%;
}

.patches__items--two .patches__items--image::before {
    content: url(../images/patches/lift.png);
    left: -8%;
    top: -92%;
    transform: rotate(70deg);
}

.patches__items--three .patches__items--image::before {
    content: url(../images/patches/of_maine.png);
}

.patches__items--one .patches__items--image::after {
    content: url(../images/patches/doing_good.png);
    right: -2%;
}

.patches__items--two .patches__items--image::after {
    content: url(../images/patches/small_steps.png);
    top: -75%;
    right: -60%;
}

.patches__items--three .patches__items--image::after {
    content: url(../images/patches/fresh.png);
    top: -42%;
    right: 12%;
}

.patches__items .patches__items--text::before{
    top: -175%;
    left: 0%;
}
.patches__items .patches__items--text::after{
    top: -301%;
    right: -20%;
}
.patches__items--one .patches__items--text::before {
    content: url(../images/patches/vegan.png);
}
.patches__items--two .patches__items--text::before {
    content: url(../images/patches/rea.png);
    top: -331%;
    left: 80%;
}
.patches__items--three .patches__items--text::before {
    content: url(../images/patches/happy.png);
}

.patches__items--one .patches__items--text::after {
    content: url(../images/patches/lift.png);
    right: -17%;
    zoom: 1;
}

.patches__items--three .patches__items--text::after {
    content: url(../images/patches/lift.png);
    top: -230%;
    right: 20%;
    transform: rotateY(
        180deg
        );
}

.patches__items--two div.patches__items--text::after {
    content: url(../images/patches/not_tested.png);
    top: -150%;
    left: 45%;
}
.patches__text {
    position: relative;
}
.patches__text::before, .patches__text::after {
    content: '';
    position: absolute;
}
.patches__text::before {
    top: 69%;
    left: 15%;
}
.patches__text::after {
    right: -1%;
}
.patches__text--small::before {
    content: url(../images/patches/profites.png);
    top: -263%;
    left: -1%;
}

.patches__text--small::after {
    content: url(../images/patches/free_alumin.png);
    top: -450%;
    right: 22%;
}
.patches__text--big::before {
    content: url(../images/patches/gluten_free.png);
}

.patches__text--big::after {
    content: url(../images/patches/smiles.png);
    top: 33%;
}
.patches__text--big {
    margin-bottom: 200px;
}
.patches__text-wrap::before{
    content: url(../images/patches/lift.png);
    position: absolute;
    top: -25%;
    transform: rotate(100deg);
}
 .patches__text-wrap::after {
    content: url(../images/patches/lift.png);
    position: absolute;
    top: -20%;
    transform: rotate(100deg);
}
.patches__text-wrap::before {
    left:20%;
    zoom: 0.4;
}
.patches__text-wrap::after {
    right: -2%;
    zoom: 0.8;
    transform: rotate(-115deg);
}

.patches__items--three::before, .patches__items--three::after {
    position: absolute;  
    z-index: 100;
    bottom: -17%;
}

.patches__items--three::before {
    content: url(../images/patches/activist_for.png);
    left: 20%;
}

.patches__items--three::after {
    content: url(../images/patches/the_first.png);
    bottom: -30%;
    right: 25%;
}
#patches-top {
    position: relative;
}
#patches-top::before, #patches-top::after {
    position: absolute;
    left: 35%;
    z-index: 100;
}
#patches-top::before {
    content: url(../images/patches/not_just_talk.png);
    top: -135%;
}
#patches-top::after {
    content: url(../images/patches/small_steps.png);
    top: 130%;
}
.patches-bottom {
    position: relative;
}
.patches-bottom::before, .patches-bottom::after {
    position: absolute;
    top: 30%;
    z-index: 100;
}
.patches-bottom::before {
    content: url(../images/patches/free_alumin.png);
    left: 14%;
    zoom: 2;
}
.patches-bottom::after {
    content: url(../images/patches/lift.png);
    top: 48%;
    right: 30%;
    transform: rotate(
        152deg
        );
}
#toms-section4 {
    position: relative;
}
#toms-section4::before, #toms-section4::after {
    position: absolute;
    bottom: 0%;
    z-index: 100;
}
#toms-section4::before {
    content: url(../images/patches/lift.png);
    left: -6%;
    bottom: -7%;
    transform: rotate( 
        -90deg
         );
}
#toms-section4::after {
    content: url(../images/patches/not_just_talk.png);
    right: 0%;
    bottom: -13%;
}
@media screen and (max-width: 576px){
    section.patches *::before, section.patches *::after {
        content: '' !important;
    }
    .patches__text--big {
        margin-bottom: 20px;
    }
    #toms-section4 {
        background-image: url(../images/patches/not_tested.png), url(../images/patches/happy.png), url(../images/patches/smiles.png);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: top center, center left, bottom right;
        background-size: 40%;
    }
}

section.patches *::before, section.patches *::after {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    z-index: 100;
}

section.patches *:hover::before{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    

    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

section.patches *:hover::after{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    

    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}